@import url('https://fonts.googleapis.com/css2?family=Shantell+Sans&display=swap');
* {
    box-sizing: border-box;
    margin: 0px;
    font-family: 'Shantell Sans', cursive;;
}
:root {
    --bg-color: #0e1217;
    --box-color: #1c1f26;
    --border-color : #23282f;
    --text-color: #f2f2f2;
    --primary-color: #ce3df3;
    --secondary-color: deeppink;
    --tertiary-color: crimson;
}
body {
    background-color: var(--bg-color);
    background-image: url("assets/bg.jpg");
    background-size: cover;
    backdrop-filter: brightness(30%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100svh;
}

.container {
    width: 80%;
}

.input_box {
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1rem auto 1rem auto;
    padding: 1rem;
    width: 80%;
    background-color: var(--box-color);
    outline: none;
    border: 2px solid var(--border-color);
    color: var(--text-color);
    transition: 0.3s ease-in-out;
    font-size: larger;
    border-radius: 5px;
}
.input_box:hover {
    border-color: var(--primary-color);           /*  #505765  */
}
.input_box:focus{
    border-color: var(--secondary-color);
}
.input_box:placeholder-shown{
    color: lightgrey;
}

#myProgress {
    width: 100%;
    background-color:#505765;
    border-radius: 2px;
}

#percent {
    width: 10%;
    height: 40px;
    border-radius: 2px;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: var(--tertiary-color);
    text-align: center;
    line-height: 30px;
    color: white;
    font-weight: 900  ;
    transition: background 0.2s ease-in;
    transition: 0.2s ease-in;
}

.calc_button {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto 2rem auto;
    padding: 1rem 2rem 1rem 2rem;
    outline:none;
    border: none;
    transition: background 0.1s ease-in;
    color: white;
    font-weight: bold;
    font-size: larger;
    border-radius: 6px;
}
.calc_button:hover {
    background-color: var(--secondary-color);
}
.calc_button:active {
    background-color: var(--tertiary-color);
}
#status {
    color: white;
    display: flex;
    justify-content: center;
    margin: 2px;
}

/* RESPONSIVE CSS */

@media screen and (max-width:700px) { 
    .input_box {
        width: 100%;
    }
    .container {
        width: 95%;
    }
}